<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <% if (locals.error) { %>
        <div class="error" style="color: red"> <%= error %> </div>
    <% } %>
    <form action="register" method="post" name="register-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>