body {
    /*background-color: #2b2b2b;*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

nav {
    /*background-color: #c79f00;*/
}

label {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
nav a {
    /*color: black;*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.avatar {
    /*border-radius: 50%;*/
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    margin-right: 1rem;
}
.btn-secondary {
    background-color: #c79f00;
    border-color: #c79f00;
}

#partner-list {
    background-color: orange;
}

.dropdown-item {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dropdown-item:hover {
    background-color: orange;
}

.message-partner {
    /*background-color: #c79f00;*/
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.message-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    padding: 5px;
    margin-bottom: 5px;
    max-width: 70%;
    /*border-radius: 10px;*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    overflow-wrap: break-word;
}

.sent {
    background-color: #FF69B4;
    align-self: flex-end;
}

.received {
    background-color: #008080 ;
    align-self: flex-start;
}

.error {
    color: darkorchid;
    padding: 5px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    /*border-radius: 5px;*/
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    display:block;
    width: 70%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
main{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
button {
    background-color: aqua;
    border: none;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;

}
