h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 2rem;
}

.error {
    margin-top: 1rem;
}

/* Message styles */
.message-partner {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: none;
}

.message-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: azure;
}
.avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    margin-right: 1rem;
}
.message {
    border-radius: 10px;
    display: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    max-width: 70%;
}

.message-container{
    display: flex;
    flex-direction: column;
    /*padding-left: 25%;*/
    /*padding-right: 25%;*/
    /*width: 50%;*/
}
.message.sent {
    background-color: azure;
    float: right;
}
.received {
    background-color: #d9edf7;
    float: left;
}

/* Form styles */
form {
    margin-top: 2rem;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input[type="text"], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 40%;
    background-color: azure;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}
