version: '2.1'
services:
  # Give your container proper names!
  asocialnetwork-checker:
    build: .
    # The checker runs a HTTP interfaces, so we need to map port 3031 to the outside (port 8000).
    ports:
      - 2137:8000
    environment:
     - MONGO_ENABLED=1
     - MONGO_HOST=asocialnetwork-mongo
     - MONGO_PORT=27017
     - MONGO_USER=asocialnetwork_checker
     - MONGO_PASSWORD=asocialnetwork_checker
    mem_limit: 1G
    memswap_limit: 2G
    ulimits:
      core:
        soft: 0
        hard: 0
      nproc:
        soft: 4000
        hard: 4000
    extra_hosts:
      - "host.docker.internal:host-gateway"
  # The python checkerlib requires a mongo db!
  asocialnetwork-mongo:
    image: mongo
    volumes:
      - ./data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: asocialnetwork_checker
      MONGO_INITDB_ROOT_PASSWORD: asocialnetwork_checker
    mem_limit: 1G
    memswap_limit: 2G
    ulimits:
      core:
        soft: 0
        hard: 0
      nproc:
        soft: 4000
        hard: 4000